.concept-area {
    width: 100%;
    height: 380px;
    margin-top: 9%;
}

.concept-area>h2 {
    margin-left: 20%;
    font-size: 18px;
    font-style: italic;
    color: rgb(177, 170, 170)
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


/* Style the tab content */

.tabcontent {
    color: white;
    display: none;
    padding: 10px;
    text-align: center;
    height: 300px;
    border-radius: 25px;
}

.tabcontent ul li {
    list-style: none;
    float: left;
    margin-left: 30px;
}

.tabcontent ul>li>img {
    float: right;
    width: 70px;
    height: 100px;
}

#Red {
    background-image: linear-gradient(to top, rgba(153, 73, 73, 0.541), rgba(255, 255, 0, 0));
}

#Green {
    background-image: linear-gradient(to top, rgba(63, 148, 74, 0.493), rgba(255, 255, 0, 0));
}

#Blue {
    background-image: linear-gradient(to top, rgba(67, 67, 116, 0.616), rgba(255, 255, 0, 0));
}

#Orange {
    background-image: linear-gradient(to top, rgba(138, 139, 77, 0.479), rgba(255, 255, 0, 0));
}

.mainscreen {
    margin-left: 8%;
    margin-top: 3%;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #2b292a;
}

.card {
    width: 55%;
    margin: auto;
    color: aliceblue;
    position: center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #4440408c;
    display: flex;
    flex-direction: row;
}

body {
    font-family: 'Roboto', sans-serif!important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftside {
    width: 40%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.product {
    object-fit: cover;
    width: 20em;
    height: 20em;
    border-radius: 70%;
}

.rightside {
    margin-left: -2%;
    width: 35rem;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

p {
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox {
    color: black;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #1a1919;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

.expcvv {
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text {
    padding-right: 1rem;
}

.expcvv_text2 {
    padding: 0 1rem;
}

.button {
    background: linear-gradient( 135deg, #413c40 0%, #799197 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width: 100%;
    letter-spacing: .11rem;
    outline: none;
}

.button:hover {
    transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
    .card {
        flex-direction: column;
        width: auto;
    }
    .leftside {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-radius: 0;
    }
    .rightside {
        width: auto;
        border-bottom-left-radius: 1.5rem;
        padding: 0.5rem 3rem 3rem 2rem;
        border-radius: 0;
    }
}